.img_sectionCover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_column_div {
    height: 300px;
    width: 350px;
    background-color: aqua;
    position: relative;
    border-top-left-radius: 150px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 150px;
}
.img_column_img {
    position: absolute;
}

.card_head{
width: 100%;
height: 20px;
border: 1px solid wheat;
display: flex;
justify-content: start;
align-items: center;
}
.card_body{
  height: 10px; 
  background-color: white; 
}